.md-tooltip, md-tooltip {
	height: auto!important;
	white-space: pre-wrap!important;
	word-break: break-word!important;
	padding: 0!important;
	line-height: 18px!important;
/*	 font-size: 18px!important; */
}

a.md-button.md-icon-button,
button.md-button.md-icon-button {
	height: auto;
	width: auto;
}

a.md-button.md-icon-button md-icon {
	display: inline-block;
}

/** Message **/
/* md-input-container.gdt-message:not(.md-container-ignore) { */
/* 	margin-top: -32px; */
/* } */
md-input-container.gdt-message:not(.md-container-ignore) label {
	position: relative;
	margin-bottom: 24px;
	left: 0;
}
.gdo-message-condense * {
	display: inline-block;
}

/** Download **/
.access-denied md-icon.icon-security,
.gdo-download-not-purchased md-icon.icon-attach_money {
	color: red;
}

/** Slider **/
md-input-container.gdt-slider,
md-input-container.gdt-rangeslider {
	margin: 32px 0;
}

/** Table **/
td.gdt-button { padding: 0!important; }
td.gdt-button .md-button { margin: 0; }
/* img.gdo-country, img.gdo-language { width: 42px; } */
.gdt-table table tbody tr td { padding: 2px 8px; }
.gdt-table table tbody tr td { vertical-align: middle; font-size: 16px; }
.gdt-table table tbody tr td.gdt-num { text-align: right; padding-right: 18px; }
.gdt-table table tbody tr td.gdo-rownum div { position: relative; padding: 0; left: 12px; top: 12px; }
/* .gdt-table table .gdo-num, .gdt-table table .gdo-rownum { max-width: 80px; } */
.gdt-tblorder a.sel { color: gold; }
.gdt-table th md-select { margin: -4px 0 0 0; }
.gdt-table th md-checkbox { margin: 3px 0; }
.gdt-tblorder { display: inline-block; position: relative; left: -6px; }
.gdt-tblorder a { display: block; }
.gdt-tblorder a:first-child { position: relative; bottom: -12px; }
.gdt-tblorder a:last-child { position: relative; bottom: 4px; }
.gdt-table th { text-align: center; white-space: nowrap; }
.gdt-table th a.sel md-icon { color: gold; }
.gdt-table th md-icon { font-size: 38px; }
.gdo-pagemenu .page-selected a { background: #f00; }


/** News **/
.gdo-news-blogbar {
	width: 100%;
	padding: 4px 16px;
}

/** gdo_Form **/
.lf-ng-md-file-input { height: 38px; }
div.gdo-tooltip { display: inline-block; }
img.gdo-captcha-img {
	position: relative;
	top: -12px;
	left: 12px;
}
.gdo-has-error, .gdo-error {
	background: #fff4f4;
	border: 1px dotted #ccc;
	overflow: hidden;
}
.gdo-has-error { overflow: auto; }
md-content.gdo-notice {
	background: #eeffee;
	border: 1px dotted #ccc;
	overflow: hidden;
}

/** Error/Message **/
.gdo-error .material-icons, .gdo-message .material-icons {
	display: inline-block;
	width: 30px;
	height: 28px;
	line-height: 28px;
}

.gdo-error p, .gdo-notice p {
	font-weight: bold;
	margin: 0;
	line-height: 28px;
}
.gdo-error p {
	color: #a11;
	line-height: 28px;
}
.gdo-form-error {
	color: #a11;
	font-weight: bold;
	opacity: 0.7;
	clear: both;
	padding: 0 16px 16px;
}
/* md-input-container .gdo-form-error { */
/* 	top: -12px; */
/*	 position: relative; */
/* } */

md-input-container > md-select {
	margin-bottom: 20px;
}
.gdo-divider-label {
	font-size: 20px;
}
md-select > md-select-value.md-select-value > span > div.md-text {
	display: inline-block!important;
}
div.gdo-label {
	padding: 8px 4px 16px;
}

h2.gdo-form-title { text-align: center; }

/** File attachment **/
.gdo-image-file img, .gdo-file-preview img {
	max-width: 128px;
	max-height: 128px;
	border: 1px dashed #000;
}


/** Pagemenu **/
.gdo-pagemenu li {
	display: inline-block;
}

.gdo-pagemenu ul {
	border-radius: 8px;
	border: 1px solid #000;
}

.gdo-pagemenu a {
	border-left: 1px solid #000;
}

